<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>{{ slogan }}</h1>
            <div class="text-center text-lg-left">
              <a href="#about" class="btn-get-started scrollto">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  
  </section><!-- End Hero -->
  
  <main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">
  
        <div class="row">
          <!--<div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="#" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>-->
		  <div class="col-md-5 justify-content-center align-items-stretch" data-aos="fade-right" style="max-height:450px;">
            <img src="assets/img/details-1.png" class="img-fluid" alt="">
          </div>
  
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Lucky Cable Networks</h3>
            <p>is a Multi Service Operator, bringing in the best of shows, news, movies and sports at the doorsteps of the viewers. Our diverse television service delivers regional, national and international channels via Optical Fiber Cable networks.</p>
  
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="javascript:none;">300+ TV Channels (HD/SD)</a></h4>
              <p class="description">Now you can enjoy more than 300 digital TV channels with Lucky Cable Network.</p>
            </div>
  
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="javascript:none;">Subscribe and Enjoy</a></h4>
              <p class="description">You can also subscribe your favorite Tv channels through Mobile Application provided by Lucky Cable Network.</p>
            </div>
  
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class='bx bx-support'></i></div>
              <h4 class="title"><a href="javascript:none;">24x7 Customer Support</a></h4>
              <p class="description">24x7 Support avalable for our subscribers. For any Query please contact on contact on +91 9414552014 or raise the complain thorugh Mobile Application.</p>
            </div>
  
          </div>
        </div>
  
      </div>
    </section><!-- End About Section -->
  
    <!-- ======= Features Section ======= -->
    <section id="packages" class="features">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>Packages</h2>
          <p>Check Our Packages</p>
        </div>
  
        <div class="row" data-aos="fade-left">
          <div class="col-lg-4 col-md-6 mt-4 mt-md-4" *ngFor="let packs of data" style="cursor: pointer;">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50" data-toggle="tooltip" data-placement="top" title="Click to view">
              <i [ngClass]='packs.icon' [ngStyle]="{'color': packs.iconColor}"></i>
              <h3><a (click)="openModal(packs)">{{packs.pack_name}}</a></h3>
            </div>
          </div>
          
        </div>
  
      </div>
    </section><!-- End Features Section -->
  
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
  
        <div class="row" data-aos="fade-up">
          <div class="col-lg-4 col-md-6 mt-5 mt-md-5" *ngFor="let result of data">
            <div class="count-box">
              <i class="icofont-document-folder" [ngStyle]="{'background': result.iconColor}"></i>
              <span data-toggle="counter-up">{{result.total}} <span style="font-size: 14px; font-weight: 800;">Channels</span></span>
              <p>[ {{result.pack_name}} ]</p>
            </div>
          </div>
  
        </div>
  
      </div>
    </section><!-- End Counts Section -->
  
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>Pricing</h2>
          <p>Check our Pricing</p>
        </div>
  
        <div class="row" data-aos="fade-left">
  
          <div class="col-lg-4 col-md-6 mt-4 mt-md-4" *ngFor="let result of data">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span *ngIf="result?.advanced" class="advanced">Advanced</span>
              <h3>{{result.pack_name}}</h3>
              <h4><sup>₹</sup>{{result.amount}}<span> / month <br> + 18% GST</span></h4>
              <ul>
                <li>Channels: {{result.total}}</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy scrollto">Buy Now</a>
              </div>
            </div>
          </div>

        </div>
  
      </div>
    </section><!-- End Pricing Section -->
	
	<!-- ======= Broadband Package ======= -->
    <section id="pricing" class="pricing">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>Other Packs</h2>
          <p>Check our Broadband Pricing</p>
        </div>
  
        <div class="row" data-aos="fade-left">
  
          <div class="col-lg-12 col-md-6 mt-4 mt-md-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <img src="assets/broadband-package.jpg" class="img-fluid animated" width="100%" height="auto" alt="Broadband Packs">
            </div>
          </div>

        </div>
  
      </div>
    </section><!-- End Pricing Section -->
  
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>
  
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                </p>
              </div>
            </li>
  
          </ul>
        </div>
  
      </div>
    </section><!-- End F.A.Q Section -->
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
  
        <div class="row">
  
          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Near - Shiv Bagichi, Bonli, District: Sawai Madhopur, Rajasthan - 322023</p>
              </div>
  
              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>katariyachouthmal@gmail.com</p>
              </div>
  
              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Proprietor:</h4>
                <p>Chouth Mal Katariya</p>
                <p>+91 9414552014</p>
              </div>
              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Nodal Officer:</h4>
                <p>Jitendra Sen</p>
                <p>+91 9667964189</p>
              </div>
  
            </div>
  
          </div>
  
          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
  
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
  
          </div>
  
        </div>
  
      </div>
    </section><!-- End Contact Section -->
  
  </main><!-- End #main -->
<modal #myModal>
  <modal-header>
    <div><strong>{{channelList?.pack_name}} - ₹ {{channelList?.amount}} </strong></div>
  </modal-header>
  <modal-content>
      
      <div class="row" data-aos="fade-left">
        <div class="col-lg-2 col-md-4 mt-4 mt-md-4" *ngFor="let result of channelList?.channels">
          <div class="icon-box aos-init aos-animate" style="box-shadow: 0px 5px 15px #CCCCCC;
          padding: 2px;" data-aos="zoom-in" data-aos-delay="50">
            <a>{{result?.ProgramName}}</a>
          </div>
        </div>
        
      </div>

  </modal-content>
  <modal-footer>
    Total Channels: {{channelList?.channels.length}}
  </modal-footer>
</modal>
